.main-img {
  margin: 0 auto;
  margin-top: 32px;
  width: calc(100vw - 24px);
  height: 350px;
  position: relative;
  overflow: hidden;
  color: #fefbfb;
}

.content-img {
  position: absolute;
  height: 125%;
  width: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 125%;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.1);
  background-image: linear-gradient(
    to bottom,
    rgba(19, 19, 31, 0),
    rgba(19, 19, 31, 1)
  );
}

.tag {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #8257e6;
  width: 80px;
  height: 20px;
  border-radius: 3px;

  display: grid;
  place-items: center;

  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.text {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 90%;

  line-height: 18px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
